h3{
    font-size: 30px !important;
}

.btn-warning:hover{
    background-color: red;
}
canvas{
    animation-name: good;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes good {
    from{box-shadow:1px 1px 38px blue;};
    to{box-shadow: 1px 1px 38px royalblue;};
}